<h1>Project 2</h1>

<div class="title">
    <h2>title</h2>
    <div>current time</div>
    <div>weather</div>
</div>

<div class="">
    <button><a href="/">Home</a></button>
</div>

<div class='add-spot' id='add-spot'>
    <container>
        <h2>Add a Spot</h2>
       <form>
        <p>Name Your Spot:</p>
        <input class='spot-name' id='spot-name' placeholder='enter your spot name here'>
        <p>Describe Your Spot:</p>
        <input class='spot-description' id ='spot-description' placeholder='What is at your spot? Example: 3 stairs with hand rail, public plaza with manual pads and ledges'>
        <p>Where Is Your Spot?</p>
        <button class='use-current-location' id='use-current-location'>Use your current location</button>
        <p>What city is your spot in?</p>
        <input class='spot-city' id='spot-city' placeholder='Ex: Seattle'>
        <p>OR add the closest cross streets:</p>
        <input class='cross-streets' id='cross-streets' placeholder='Example: 9th and pine'>
        <button class='submit-spot' id='submit-spot'>Sumbit Your Spot</button>

       </form>
    </container>
</div>

<script src="/assets/js/spots.js"></script>