<h1>Sk8Tool</h1>

<div class="title">
    <h2>title</h2>
    <div>current time</div>
    <div>weather</div>
    <div class="">
    <button class='home-btn'><a href="/">Home</a></button>
</div>
</div>

{{!-- <div class="">
    <button class='home-btn'><a href="/">Home</a></button>
</div> --}}

<div class='add-spot' id='add-spot'>
    {{!-- <container id='add-spot-container'> --}}
        <h2>Add a Spot</h2>
        <form class="create-form">
            <label>Name Your Spot:</label>
            <input class='spot-name' id='spot-name' placeholder='enter your spot name here'>
            <label for='spot-description'>Describe Your Spot:</label>
            <textarea class='spot-description' id ='spot-description' placeholder='What is at your spot? Example: 3 stairs with hand rail, public plaza with manual pads and ledges'></textarea>
            <h3>Where Is Your Spot?</h3>
            <label for='spot-city'>What city is your spot in?</label>
            <input type='text' class='spot-city' id='spot-city' placeholder='Ex: Seattle'>
            <button type="button" class='use-current-location' id='use-current-location'>Use your current location</button>
            <div id="current-spot"></div>
            <br>
            <label for='cross-streets'>OR add the closest cross streets:</label>
            <input class='cross-streets' id='cross-streets' placeholder='Example: 9th and pine'>
            <div class='security'>
                <label for="security-switch">Is there security at the spot?</label><br>
                <button class="security-guards" data-security='true'>Yes</button>
                <button class='security-guards' data-security='false'>No</button>
            </div>
            <button type='submit' class='submit-spot' id='submit-spot'>Sumbit Your Spot</button>

        </form>
    {{!-- </container> --}}
</div>


<script src="/assets/js/spots.js"></script>