<h1>Project 2</h1>

<div class="title">
    <h2>title</h2>
    <div>current time</div>
    <div>weather</div>
</div>

<div class="">
    <input type="text">
<<<<<<< HEAD
    <button class="parks-btn"><a href="/parks">Park</a></button>
    <button><a href="/shops">Shop</a></button>
    <button><a href=>Sopt</a></button>
    <button><a href="/weather">Weather</a></button>
=======
    <button>Park</button>
    <button>Shop</button>
    <button>Spot</button>
    <button>weather</button>
>>>>>>> 49051626d5fdd78e38bc0da6b47ba0179478acca
</div>
