<h1>Project 2</h1>

<div class="title">
    <h2>title</h2>
    <div>current time</div>
    <div>weather</div>
</div>

<div class="index">
    <input class="city-input" type="text">
    <button class="weather-btn">Weather</a></button>
    <button class="parks-btn">Park</a></button>
    <button class="shops-btn">Shop</a></button>
    <button><a href='/view-spots'>View-Spots</a></button>
    <button><a href='/add-spot'>Add-Spot</a></button>

</div>

<div class="main-content">

</div>


<script src="/assets/js/api.js"></script>