<h1>Sk8Tool</h1>

<div class="title">
    <div id='current-time'></div>
    <div id='current-weather'></div>
    <h2>Welcome to Sk8Tool.</h2>
    <p>Use our tools to find Skateshops, Skateparks or access our list of user added Skatespots near and far. Enter a city to find out what's near you</p>
</div>

<div id='button-bar' class='button-bar'>
    <input class='city-input' id='city-input' type="text" placeholder='Enter city'>
    <button class='nav-btn' id="parks-btn">Parks</button>
    <button class='nav-btn' id="shops-btn">Shops</button>
    <button class='nav-btn' id="view-spots">View-Spots</button>
    <a href='/add-spot'><button class='nav-btn' class='home-btn' id="home-btn">Add-Spot</button></a>
    <button class='nav-btn' id="weather-btn">Weather</button>

</div>

<div class="main-content" id="main-content">

</div>

<script id="spots-template" type="text/x-handlebars-template">
 {{> spots}}
</script>

<footer>
    <p>©Sk8Tool made by: </p>
    <p id='name-links'><a href='https://github.com/DanielYu0864' target='blank'>Daniel Yu,  </a><a href='https://github.com/tronciu92' target='blank'>Vasile Tronciu, and  </a><a href='https://github.com/PeteLow-13' target='blank'>Pete Low  </a></p>
</footer>
<script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyDmZhf4Cy3XVS_6hruDDGNfWfd0Uaxfxp4" type="text/javascript"></script>
<script src="/assets/js/api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>