<h1>Project 2</h1>

<div class="title">
    <h2>title</h2>
    <div>current time</div>
    <div>weather</div>
</div>

<div class="">
    <input class="city-input" type="text">
    <button class="search">Search</button>
    <button class="parks-btn"><a href="/parks">Park</a></button>
    <button class="shops-btn"><a href="/shops">Shop</a></button>
    <button><a href='/view-spots'>View-Spots</a></button>
    <button><a href='/add-spot'>Add-Spot</a></button>
    <button><a href="/weather">Weather</a></button>
</div>
