<h1>Sk8Tool</h1>

<div class="title">
    <h2>title</h2>
    <div>current time</div>
    <div>weather</div>
</div>

<div class="index">
    <input class="city-input" type="text">
    <button class="weather-btn">Weather</button>
    <button class="parks-btn">Park</button>
    <button class="shops-btn">Shop</button>
    <button class="view-spots">View-Spots</button>
    <button class='home-btn'><a href='/add-spot'>Add-Spot</a></button>

</div>

<div class="main-content">

</div>

<script id="spots-template" type="text/x-handlebars-template">
 {{> spots}}
</script>
<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyDmZhf4Cy3XVS_6hruDDGNfWfd0Uaxfxp4" type="text/javascript"></script>
<script src="/assets/js/view-spots.js"></script>
<script src="/assets/js/api.js"></script>