<h1>Project 2</h1>

<div class="title">
    <h2>title</h2>
    <div>current time</div>
    <div>weather</div>
</div>

<div class="">
    <input class="city-input" type="text">
    <button class="parks-btn"><a href="/"></a>Park</a></button>
    <button class="shops-btn"><a href="/">Shop</a></button>
    <button><a href='/add-spot'>Add-Spot</a></button>
    <button><a href="/">Weather</a></button>
</div>

<div class="class">
    <ul class='spots'>

        {{#each spots}}
            <li>Spot:{{ name }}</li>
            <li>Spot description: {{ description }}</li>
            {{#if cross_street}}
            <li>{{ cross_street }}</li>
            {{/if}}
            {{#if security_guards}}
            <li>Security Guards:{{ security_guards }}</li>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>
