<h1>Project 2</h1>

<div class="title">
    <h2>title</h2>
    <div>current time</div>
    <div>weather</div>
</div>

<div class="">
    <input class="city-input" type="text">
    <button class="search">Search</button>
    <button class="parks-btn">Park</a></button>
    <button class="shops-btn"><a href="/shops">Shop</a></button>
    <button><a href='/view-spots'>View-Spots</a></button>
    <button><a href='/add-spot'>Add-Spot</a></button>
    <button><a href="/weather">Weather</a></button>
</div>

<div class="class">
    <ul class='spots'>
        {{#spots_list}}
        <li>
        {{#if location }}
            <h1>Spot:{{ name }}</h1>
            <p>Spot description: {{ description }}</p>
            {{#if cross_street}}
            <p>{{ cross_street }}</p>
            {{/if}}
            <p>Security Guards:{{ security_guards }}</p>
        {{/if}}
        </li>
    </ul>
</div>
